doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      div
        a(href="/") 
          h1.logo-text MembersOnly
      nav
        ul.nav-links
          li
            a(href="/users/login") Log In
          li
            a(href="/users/signup") Sign Up
    block content
