extends layout 

block content
  h1 Login

  form(method="POST")
    .form-group 
      label(for="email") Email
      input(type="email", name="email", required, value=(email === undefined ? "" : email))
    .form-group
      label(for="password") Password 
      input(type="password", name="password", required)
    button(type="submit") Log In

  if errors 
      h3 Correct the following errors: 
      ul 
        each error in errors
          li!= error.msg