extends layout

block content 
  h2 Become a member 
  p Enter a valid member key to become a member.
  form(method="POST") 
    div.form-group
      label(for="key") Member Key
      input(type="password", name="key", required)
    button(type="submit") Submit

  if errors 
      h3 Correct the following errors: 
      ul 
        each error in errors
          li!= error.msg

