extends layout 

block content
  h1 New Message

  form(method="POST") 
    .form-group 
      label(for="title") Title
      input(type="text", name="title", required, maxLength=100, value=(message === undefined ? "" : message.title))
    .form-group
      label(for="text") Message 
      textarea(name="text", cols="30", rows="10", value=(message === undefined ? "" : message.textarea))
    button(type="submit") Post Message

  if errors 
      h3 Correct the following errors: 
      ul 
        each error in errors
          li!= error.msg