extends layout 

block content 
  h1 Sign Up

  form(method="POST")
    .form-group 
      label(for="firstName") First Name
      input(type="text", name="firstName", required, value=(user === undefined ? "" : user.firstName))
    .form-group 
      label(for="lastName") Last Name
      input(type="text", name="lastName", required, value=(user === undefined ? "" : user.lastName))
    .form-group 
      label(for="email") Email
      input(type="email", name="email", required, value=(user === undefined ? "" : user.email))
    .form-group
      label(for="password") Password 
      input(type="password", name="password", required)
    .form-group
      label(for="passwordConfirm") Confirm Password 
      input(type="password", name="passwordConfirm", required)
    button(type="submit") Submit

    if errors 
      h3 Correct the following errors: 
      ul 
        each error in errors
          li!= error.msg

