body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

header {
  display: flex;
  align-items: center;
}

header div {
  flex: 1;
}

header nav ul {
  list-style: none;
  display: flex;
  gap: 24px;
}
