body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 6px;
  max-width: 500px;
}

form button {
  max-width: 100px;
}

.message-group {
  border: 2px solid gray;
  border-radius: 12px;
  padding: 12px 24px;
  margin-bottom: 12px;
}

.message-group p:last-child {
  margin-top: 40px;
}

textarea {
  resize: vertical;
}

header {
  display: flex;
  align-items: center;
}

header div {
  flex: 1;
}

header nav ul {
  list-style: none;
  display: flex;
  gap: 24px;
}
